.random-quote-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100vh;
  }

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    background-color: white;
    border-radius: 2%;
    padding: 40px 50px;
}

.quote-text {
    font-size: 34px;
    animation: showQuote 1s ease-in;
}

.quote-author {
    text-align: right;
}

.quote-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.quote-link {
    text-decoration: none;
    padding-top: 20px;
    color: red;
}

.quote-button {
    padding: 10px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5%;
    cursor: pointer;
}

@keyframes showQuote {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}